/*Base Stats*/
html  {
  font-size: 14px;
  font-family: "Open Sans";
}

/*Navigation*/
.navbar-default .navbar-nav {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #F8F8F8;
  color: #399bd1;
}

.navbar-default {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 480px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

.navbar-brand  {
    display: none;
  }
}

/*Jumbotron*/
.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  color: white;
}

.jumbotron-bike .container h1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: "Monoton";
  font-size: 7.1rem;
  margin-top: 11.85rem;
}

.jumbotron .container h1,
.jumbotron .container p {
  width: 51.3rem;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron .container p {
  margin-bottom: 2.8rem;
}

.btn {
  padding: 1.3rem 0;
  width: 11.4rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  margin-bottom: 11.85rem;
}

.btn:hover  {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 480px) {
  .jumbotron .container h1 {
    font-size: 5.7rem;
  }

  .jumbotron .container h1,
  .jumbotron .container p {
    width: auto;
  }

  .navbar-brand img {
    max-width: 100%;
    height: auto;
    display: block;
    max-height: 100%;
    width: auto;
  }
}
/*Featured Project*/

.image-container a img {
  width: 100%;
}

/*.featuredprojectfont */

h3 {
  font-size: 1.3rem;
  font-weight: bold;

}

#blue,
h2 {
  color: #399bd1;
}

.featuredprojectfont ul li {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

.author {
  font-style: italic;
}

.nopaddingleft  {
  padding-left: 0;
}

/*Projects*/

.imageopacity {
  opacity: 0.7;
}

#project  {
  padding-bottom: 5.85rem;
}

@media screen and (max-width: 480px)  {
  .row  {
    margin-left: auto;
  }

  #nospace  {
    padding-left: 0;
  }

  .spacemobile  {
    padding-bottom: 5.85rem;
  }
}

/*Having trouble?*/
#havingtrouble  {
  padding-top: 5.2rem;
  padding-bottom: 5.2rem;
  background-color: #f3f3f3;
}

#nomargin {
  margin-bottom: 0;
}

#havingtroubleheading {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}

#havingtrouble .container p {
  width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

@media screen and (max-width: 480px)  {
  #havingtrouble .container p {
    width: auto;
  }
}
