/*Base Stats*/
html  {
  font-size: 14px;
  font-family: "Open Sans";
}

/*Navigation*/
.navbar-default .navbar-nav {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #F8F8F8;
  color: #399bd1;
}

.navbar-default {
  padding-left: 15px;
  padding-right: 15px;
}

/*Jumbotron*/
.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  color: white;
}

.jumbotron-bike .container h1 {
  text-shadow: 1px 1px 0 #000;
  font-family: "Monoton";
  font-size: 7.1rem;
  margin-top: 11.85rem;
}

.jumbotron .container h1,
.jumbotron .container p {
  width: 51.3rem;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron .container p {
  margin-bottom: 2.8rem;
}

.btn {
  padding: 1.3rem 0;
  width: 11.4rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  margin-bottom: 11.85rem;
}

.btn:hover  {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}
